In [1]:
#importing modules
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import mean_squared_log_error
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
import matplotlib.pyplot as plt
from scipy import stats

In [10]:
#loading data from local machine and basic data cleaning

data = pd.read_csv(r'D:\dataset\advanced housing prices\train.csv')

data['Year'] = data[['YearBuilt', 'YearRemodAdd']].mean(axis = 1).astype(int)
data = data.drop(['YearBuilt', 'YearRemodAdd'], axis = 1)

relation = data.corr(method =  'pearson')

ind = list(relation[relation['SalePrice'] > 0.05].index)
data = data[ind]

In [11]:
nullval = pd.DataFrame(data.isna().sum(), columns = ['value']) 
nullval = list((nullval[nullval['value'] < 200]).index)
data = data[nullval]

In [12]:
unique = []

for col in data.columns:
    unique.append(len(pd.unique(data[col])))

relation = data.columns

l = len(unique)
for i in range(l):
    if unique[i] <= 10:
        data = data.drop(relation[i], axis=1)

In [13]:
#med = data.mean(axis=0)
data = data.fillna(method='ffill')

#data.shape[1]
data = data[(np.abs(stats.zscore(data)) < 3).all(axis=1)]

labels = data['SalePrice']

In [76]:
scaler = StandardScaler()
scaler.fit(data)
data = scaler.transform(data)

In [6]:
plt.figure()
i = 0
for p in relation:
    data.plot.scatter(x = p, y ='SalePrice')
    
data = data.drop(columns=['SalePrice'])
relation = data.columns

In [14]:
from sklearn import preprocessing
norm = preprocessing.scale(data)
from sklearn import linear_model
reg = linear_model.Lasso(alpha=0.1, normalize=True)

In [15]:
#training 
X_train, X_test, y_train, y_test = train_test_split(norm, labels, test_size=0.33, random_state=42, shuffle=True)
reg.fit(X_train, y_train)
p = reg.predict(X_test)
y_test = np.array(y_test)

mean_squared_log_error(y_test, p)

In [17]:
reg.fit(data, labels)
data1 = pd.read_csv(r'D:\dataset\advanced housing prices\test.csv')

data1['Year'] = data1[['YearBuilt', 'YearRemodAdd']].mean(axis = 1).astype(int)
data1 = data1.drop(['YearBuilt', 'YearRemodAdd'], axis = 1)
index = data1['Id']

data1 = data1[relation]
        
data1 = data1.fillna(method='ffill')
p1 = reg.predict(data1)

new = pd.DataFrame(columns = ['Id', 'SalePrice'])
new['Id'] = index
new['SalePrice'] = p1
new.to_csv('HP.csv', index = False)

In [18]:
p = pd.read_csv('HP.csv')

In [94]:
p

        Id      SalePrice
0     1461  136290.376402
1     1462  171964.572079
2     1463  214307.530243
3     1464  206644.616289
4     1465  179829.533962
...    ...            ...
1454  2915   88510.459885
1455  2916  105968.085520
1456  2917  201498.028515
1457  2918  129218.118754
1458  2919  236431.068083

[1459 rows x 2 columns]